.websitelogo {
    display: flex;
    justify-content: center;
    color: #121619;
}

a:hover .websitelogo{
    color: #717171;
}

a {
    text-decoration: none;
}

.slogan {
    font-style: italic;
}

body {
    background-color: #C0FDFB;
    font-family: "Noto Serif Display", serif;
}

nav {
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-bottom: 75px;
}

nav a {
    color: #121619;
}

nav a:hover {
    color: #22333B;
    text-decoration: underline;
}

.column {
    text-align: center;
}

.column h2 {
    font-size: 35px;
}

.reviewscene {
    width: 60%;
}

.reviewtext {
    margin-inline: 27%;
    text-align: left;
    line-height: 30px;
}

@media only screen and (max-width: 850px){
    .reviewtext {
        margin-inline: 14%;
        /* text-align: left; */
        /* line-height: 30px; */
    }
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-right: 15%;
    margin-left: 15%;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.movie-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: background-color 1s ease;
    overflow: hidden;
}


.movie-box:hover {
    background-color: #FFFFFF;
}

.movie-box img {
    height: 100%;
    margin: 0;
    transition: filter 1s ease;
}

.movie-box:hover img {
    filter: brightness(40%);
}

.movie-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 100%;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.movie-box:hover .movie-title {
    opacity: 1;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    row-gap: 20px;
    margin-bottom: 20px;
}


.form-container div {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 3px;
}

.form-container select,
.form-container input,
.form-container button {
    width: 100%;
}

@media (max-width: 800px) {
    .container {
        margin-right: 3%;
        margin-left: 3%;
    }
    .form-container {
        grid-template-columns: 1fr;
    }
    .movie-title {
        font-size: 30%;
    }
    .movie-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.movie-image-container {
    position: relative;
    display: grid;
    overflow: hidden;
    margin-bottom: 20px; /* Add margin to create a gap between images */
    cursor: pointer;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000007F;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Add CSS styles for the movie title */
.movie-title2 {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

/* Apply brightness filter on hover */
.movie-image-container:hover .dark-overlay {
    opacity: 1;
}

/* Apply object-fit and object-position to the images */
.movie-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.half-star {
    position: relative;
    color: #000000; /* Set the star color */
  }

.half-star::before {
    content: '\2605'; /* Unicode character for a black star */
    position: absolute;
    clip: rect(0, 0.5em, 2em, 0);
    color: inherit;
}